<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Forum</h1>
    <p class="lead">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Let's go</a>
    </p>
  </div>
</div>
